body,
html {
  height: 100%;
}
main {
  padding-top: 70px;
}

/*ヘッダー*/

header {
  height: 70px;
  width: 100%;
  background-color: #FFF;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0%;
  left: 0%;
  padding-top: px;
}
.header__nav {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

header h1 {
  display: inline-block;
  display: flex;
  height: 100%;
  padding: 0 0 0 20px;
  font-size: 25px;
  align-items: center;
}



.header__nav ul li {
  display: inline-block;
  width: 100px;
  font-size: 16px;
  list-style: none;
  font-weight: bold;
  text-align: center;
}
.header__nav ul li a {
  text-decoration: none;
  color: #000;
}
header h1 a {
  text-decoration: none;
  color: #000;
}

/*ハンバーガー*/
.hamburger {
  position: absolute;
  height: 1000px;
  width: 100%;
  left: -100%;
  transition: .7s;
  text-align: center;
  background-color: #FFF;
}

.hamburger__list a {
  text-decoration: none;
  color: blue;
}
.hamburger ul {
  padding-top: 80px;
}

.hamburger ul li {
  list-style-type: none;
  margin-top: 50px;
}
.menu {
  display: none;
  width: 36px;
  height: 32px;
  position: relative;
  right: 20px;
  top: 20px;
}

.menu__line-top,
.menu__line-middle,
.menu__line-bottom {
  display: inline-block;
  width: 100%;
  height: 4px;
  background-color: #000;
  position: absolute;
  transition: 0.5s;
}

.menu__line-top {
  top: 0;
}

.menu__line-middle {
  top: 14px;
}

.menu__line-bottom {
  bottom: 0;
}

.menu.open span:nth-of-type(1) {
  top: 14px;
  transform: rotate(45deg);
}

.menu.open span:nth-of-type(2) {
  opacity: 0;
}

.menu.open span:nth-of-type(3) {
  top: 14px;
  transform: rotate(-45deg);
}

.in {
  transform: translateX(100%);
}

/*ファーストビュー*/

.first__view {
  height: 600px;
  background: url("../img/mv.png")no-repeat center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.first__view-content h2 {
  font-size: 50px;
  color: #FFF;
  text-align: center;
  line-height: 70px;
}
.first__view-content p {
  color: #FFF;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  padding-top: 20px;
  line-height: 24px;
}

/* メッセージ*/
.message {
  height: 300px;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.message__text {
  width: 75%;
}
.message__text h2,
.message__text p {
  color: #FFF;
}
.message__text h2 {
  font-size: 30px;
  padding-bottom: 30px;
}
.message__text p {
  line-height: 25px;
}

/*サービスボックス*/
.service h2 {
  text-align: center;
  font-size: 30px;
  margin-top: 10%;
}
.service__box {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  margin: 20px 10%;
  justify-content: center;
}



.service__box-content {
  width: 45%;
  height: 400px;
  margin: 0 10px 20px 10px;
}

.service__box-content-img {
  width: 100%;
  height: 80%;
}

.service__box-content-img img {
  width: 100%;
  height: 100%;
}

.service__box-content h3 {
  margin: 10px 0;
}
.service__box-content p {
  line-height: 20px;
}

.service a {
  display: block;
  width: 20%;
  height: 30px;
  background-color:#dc143c;
  text-decoration: none;
  color: #FFF;
  font-weight: bold;
  text-align: center;
  padding-top: 10px;
  margin: 0 auto;
}

/*ニュース*/

.news {
  width: 100%;
  background-color: #000;
  padding-top: 50px;
  margin-top: 50px;
}
.news-title {
  width: 70%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 15% 10px 15%;
}
.news-title h2 {
  font-size: 30px;
  color: #FFF;
}
.news-title a {
  width: 170px;
  height: 30px;
  display: inline-block;
  color: #FFF;
  background-color: #dc143c;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  padding-top: 10px;
}
.news-content {
  height: 300px;
  width: 70%;
  margin: 0 15% 30px 15%;
}
.news-content a {
  display: block;
  background-color: #FFF;
  text-decoration: none;
  color: #000;
  margin-bottom: 10px;
  padding: 25px 0 25px 20px;
}
.news-content a:hover {
  opacity: .8;
}
.news-content a span {
  display: inline-block;
  font-weight: bold;
  margin-left: 10px;
}

/*ブログ*/
.blog {
  width: 100%;
  padding: 50px 0 50px 0;
}
.blog h2 {
  text-align: center;
  font-size: 30px;
}
.blog__box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px 10% 50px 10%;
}

.blog__box-content {
  width: 30%;
  height: 300px;
  margin: 0 5px;
}
.blog__box-img {
  width: 100%;
  height: 70%;
}
.blog__box-img img {
  width: 100%;
height: 100%;
}
.blog__box-content p:first-of-type {
  padding: 10px 0 10px 0;
}
.blog__box-content p:last-of-type {
  font-weight: bold;
  font-size: 110%;
}

.blog a {
  display: block;
  width: 20%;
  height: 30px;
  background-color:#dc143c;
  text-decoration: none;
  color: #FFF;
  font-weight: bold;
  text-align: center;
  padding-top: 10px;
  margin: 0 auto;
}

/*カンパニー*/

.company {
  width: 100%;
  display: flex;
}

.company-guide,
.company-recruit {
  width: 50%;
  height: 200px;
  text-align: center;
}

.company-guide {
  background-color: #dc143c;
}

.company-guide a,
.company-recruit a {
  display: inline-block;
  text-decoration: none;
  color: #FFF;
  font-weight: bold;
  font-size: 20px;
  padding-top: 90px;
}

.company-recruit {
  background-color: #000;
}

/*コンタクト*/

.contact {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f8ff;
  margin-top: 100px;
}
.contact-link h2 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 30px;
}
.contact-link p {
  margin-bottom: 30px;
  text-align: center;
}
.contact-link a {
  display: block;
  width: 50%;
  height: 30px;
  background-color:#dc143c;
  text-decoration: none;
  color: #FFF;
  font-weight: bold;
  text-align: center;
  padding-top: 10px;
  margin: 0 auto;
}

/*フッター*/

footer {
  width: 100%;
  height: 60px;
  background-color: #000;
  display: flex;
  align-items: center;
}
.footer-content {
  width: 100%;
  margin: 0 15%;
  display: flex;
  justify-content: space-between;
}

footer small {
  color: #FFF;
  font-size: 80%;
}

.footer-nav {
  display: flex;
  align-items: center;
}
.footer-nav ul {
  display: flex;
  justify-content: space-around;

}
.footer-nav ul li {
  display: inline-block;
  padding: 0 10px;
  list-style: none;
  border-right: 1px solid #FFF;
}

.footer-nav ul li a {
  text-decoration: none;
  color: #FFF;
  font-size: 80%;
}
.footer-nav ul li:last-of-type {
  border: none;
}

@media screen and (max-width: 768px) {
  .header__nav {
    display: none;
  }
  .menu {
    display: inline-block;
  }
  .first__view-content {
    width: 80%;
  }
  .service__box-content {
    width: 100%;
  }
  .service__box-content-img {
    width: 100%;
    height: 80%;
  }
  .blog__box-content {
    width: 100%;
    height: 500px;
  }
  footer {
    height: 250px;
  }
  .footer-content {
    margin: 0 20%;
  }
  .footer-nav ul {
    display: flex;
    flex-direction: column;
  }
  .footer-nav ul li {
    border: none;
    margin: 5px 0;
    text-align: center;
  }
  small {
    padding-top: 100px;
  }

}
@media screen and (max-width:400px) {
  .header__nav {
    display: none;
  }
  .menu {
    display: inline-block;
  }
  .message {
    height: 500px;
  }
  .message__text {
    width: 90%;
  }
  .message__text h2 {
    font-size: 30px;
    padding-bottom: 20px;
  }
  .service__box {
    width: 90%;
    margin: 20px 5%;
  }
  .service__box-content {
    width: 100%;
    height: 300px;
  }
  .service__box-content-img {
    height: 60%;
  }
  .service-link a {
    width: 60%;
  }
  .news-title {
    width: 90%;
    margin: 0 5%;
  }
  .news-content {
    width: 90%;
    margin: 0 5%;
  }
  .blog__box-content {
    width: 100%;
    height: 300px;
  }
  .blog a {
    width: 60%;
  }
  .contact-link {
    width: 90%;
    line-height: 24px;
  }
  .footer-content {
    display: flex;
    flex-direction: column;
  }
  .footer-content small {
    padding-top: 0;
    text-align: center;
  }
  .footer-nav {
    display: flex;
    justify-content: center;
  }
}